@page "/donantes"
@using BloodBank.Shared.Entidades
@using BloodBank.WEB.Repositories
@using BloodBank.WEB.Shared

@inject IRepository repository

<h3>Donantes</h3>

<div class="mb-3">
	<a class="btn btn-primary" href="/donantes/Create">Crear Donante</a>
</div>

<GenericList MyList="Donantes">
	<Body>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Donante</th>
				</tr>
			</thead>
				<tbody>
					@foreach(var donante in Donantes)
					{
						<tr>
							<td>
								@donante.Documento
							</td>

							<td>
								@donante.Nombre
							</td>

							<td>
								@donante.Apellido
							</td>

							<td>
								@donante.Imagen
							</td>

							<td>
								@donante.Correo
							</td>

							<td>
								@donante.Sangre
							</td>

							<td>
								@donante.Fecha
							</td>

							<td>
								@donante.Telefono
							</td>

							<td>
								<a class="btn btn-warning">Editar</a>
								<button class="btn btn-danger">Borrar</button>
							</td>
						</tr>
					}
				</tbody>
		</table>
	</Body>
</GenericList>

@code {
	public List<Donante> Donantes { get; set; }
	protected async override Task OnInitializedAsync()
	{
		var responseHttp = await repository.GetAsync<List<Donante>>("api/donantes");
		Donantes = responseHttp.Response!;
	}
}
