@page "/enfermeros" 

  

  

@using CurrieTechnologies.Razor.SweetAlert2 

@using BloodBank.Shared.Entidades

@using BloodBank.WEB.Repositories 

@using BloodBank.WEB.Shared 

  

@inject IRepository repository 

@inject NavigationManager navigationManager 

@inject SweetAlertService swal 

  

<h3>ENFERMERO</h3> 

  

  

<div class ="mb-3"> 

  

<a class="btn btn-primary" href="/enfermeros/Create">Crear Enfermero</a> 

</div> 

  

  

<GenericList MyList="Enfermeros">  

    <Body> 

        <table class="table table-striped">  

            <thead> 

                <tr> 

                    <th>Enfermero</th> 

                </tr> 

  

            </thead> 

            <tbody> 

                    @foreach(var enfermero in Enfermeros) 

                    { 

                        <tr> 

                            <td> 

                                @enfermero.Documento

                            </td> 

  

                             <td> 

                                @enfermero.Nombre

                            </td> 

  

                            <td> 

                                @enfermero.Apellido

                             </td> 

  

                            <td> 

                                @enfermero.Correo

                            </td>

                            <td>

                                @enfermero.HospitalId

                            </td>

                        <td> 

                                 <a href="/Enfermeros/edit/@enfermero.Id" class="btn btn-warning btn-sm"><i class="oi oi-pencil" /> Editar</a> 

                                 <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(enfermero))><i class="oi oi-trash" /> Borrar</button> 

  

  

                            </td> 

  

                        </tr> 

                    } 

                </tbody> 

  

  

  

        </table> 

  

    </Body> 

  

</GenericList> 

  

@code { 

  

    public List <Enfermero> Enfermeros { get; set; } 

  

    protected async override Task OnInitializedAsync() 

    { 

        await Load(); 

    } 

  

    private async Task Load() 

    { 

        var responseHppt = await repository.GetAsync<List<Enfermero>>("/api/Enfermeros"); 

        Enfermeros = responseHppt.Response!; 

    } 

  

    private async Task DeleteAsync(Enfermero enfermero) 

    { 

        var result = await swal.FireAsync(new SweetAlertOptions 

            { 

                Title = "Confirmación", 

                Text = "¿Esta seguro que quieres borrar el registro?", 

                Icon = SweetAlertIcon.Question, 

                ShowCancelButton = true 

            }); 

  

        var confirm = string.IsNullOrEmpty(result.Value); 

  

        if (confirm) 

        { 

            return; 

        } 

  

        var responseHTTP = await repository.DeleteAsync<Enfermero>($"api/Enfermeros/{enfermero.Id}"); 

  

        if (responseHTTP.Error) 

        { 

            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound) 

            { 

                navigationManager.NavigateTo("/"); 

            } 

            else 

            { 

                var mensajeError = await responseHTTP.GetErrorMessageAsync(); 

                await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error); 

            } 

        } 

        else 

        { 

            await Load(); 

        } 

    } 

} 